<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activity.ctec.aboutmeapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AboutMeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LolActivity"
            android:label="@string/title_activity_lol" >
        </activity>
        <activity
            android:name=".FriedRiceActivity"
            android:label="@string/title_activity_fried_rice" >
        </activity>
        <activity
            android:name=".BasketballActivity"
            android:label="@string/title_activity_basketball" >
        </activity>
        <activity
            android:name=".AotActivity"
            android:label="@string/title_activity_aot" >
        </activity>
        <activity
            android:name=".LaosActivity"
            android:label="@string/title_activity_laos" >
        </activity>
    </application>

</manifest>
